.ReactTable{
  border: $yellow !important;
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}
.rt-thead {
  background-color: $yellow !important;
  font-size: 26px !important;
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}

.ReactTable .-pagination .-btn {
  background: $yellow !important;
}

.ReactTable .rt-thead.-header {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;

}

.ReactTable .rt-thead.-filters {
  border-bottom:1px solid rgba(0, 0, 0, 0) !important
}


.pub-title {
  color: $cyan;
  font-size: 50px;
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}

.word-cloud-title{
  color: 'black';
  font-size: 50px;
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}
