.fade-enter,
.fade-leave,
.fade-appear {
  animation-duration: 2s;
}
.fade-enter {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}
.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}
.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Navbar */
.navbar-header {
  width: 1200px;
}

.nav {
  position: fixed;
  background: #0098CE85;
  color: #fff;
  width: 100%;
  height: 58px;
  z-index: 9999;
  top: 0;
  min-width: 400px;
  justify-content: flex-end;
}
.nav .nav-wap {
  float: right;
  padding-right: 200px;
}
.nav .nav-list {
  width: 100px;
  height: 100%;
  float: left;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  transition: background .45s;
}
.nav .nav-bar {
  width: 100px;
  position: absolute;
  top: 58px;
  left: 0;
  height: 2px;
  background: #fff;
  transition: left .3s;
}
/* Picture Page */
.picture-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  -webkit-transition: background-image 0.5s linear;
}

.picture-page:hover {
}
/* Dark page */
.dark-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #19436E;
  /* margin-top: 65px; */
  text-align: center;
  overflow: visible;
}
/* Banner  */
.banner-title {
  position: absolute;
  font-weight: bold;
  line-height: normal;
  bottom: 5vh;
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: #0098CE85;
  z-index: 1;
  width: 55vw;
  min-width: 400px;
}
.banner-page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.banner-page-title p {
  font-size: 40px;
  color:#fff;
  margin-bottom: auto;
  margin-top: auto;
}
.tween-one {
  width: 100%;
  opacity: 0;
  color: #fff;
  font-size: 32px;
  padding-top: 130px;
  text-align: center;
  padding-bottom: 50px;
}
/* Light Page */

.light-page {
  width: 100%;
  height: 100vh;
  background-color: #FAC72C;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.light-page-new {
  width: 100%;
  height: 100vh;
  background-color: #e6c056;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.light-page-title {
  padding-top: 20vh;
}
.light-page-title p {
  font-size: 50px;
  color:#fff;
}

.light-page-description {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
.light-page-description p {
  font-size: 20px;
  color: #fff;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: justify;
}

.flex-adjustments {
  text-align: center;
}

/* .light-page-description a{
  color: #0098CE85;
} */
/* unvisited link */
.light-page-description a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
.light-page-description a:visited {
  color: rgb(0, 0, 0)
}

/* mouse over link */
.light-page-description a:hover {
  color: #98ce00;
}

/* selected link */
.light-page-description a:active {
  color: #98ce00;
}

.test1 {
  font-size: 1.25rem;
}