.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aframe-container {
  height: 90vh !important;
}

#opacityControls.pointer{
  cursor: pointer;
}

.brown-nav {
  box-shadow: 1px 1px 5px #cecece;
}

.ccv-logo .c1 {
  fill: #FFC72C;
}

.ccv-logo .c2 {
  fill: #00B398;
}

.ccv-logo .v {
  fill: #FFC72C;
}

.peopleLink {
  color: black;
}

.light-page-long
{
    width: 100%;
    height: 150vh;
    background-color: #FAC72C;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.light-page-subtitle p {
  font-size: 25px;
  color: #fff;
}
.light-page-new-short{
    width: 100%;
    height: 50vh;
    background-color: #e6c056;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; 
}
